body {
  margin: 0;
  padding: 0;
  width: 100%;
}
h1,
p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #5f6f1f;
}
.container {
  max-width: 1600px;
  margin: auto;
}

/********************BARRE NAV****************/
.nav {
  border-bottom: solid 0.5px #5f6f1f;
}
.nav-main {
  display: flex;
  justify-content: space-evenly;
}

.nav-main a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: 18px;
  padding: 15px;
}
.nav-main i {
  padding: 0 7px;
}
.nav-main a:hover {
  background-color: #5f6f1f;
  color: white;
}

.nav-main .logo-nav {
  width: 50px;
  height: 50px;
}
/************************************************/

/************ PAGE HOME *****************/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .title-home {
  font-size: 50px;
  font-weight: 600;
}
.home img {
  width: 300px;
  height: 300px;
}
.content-home {
  font-size: 22px;
  font-weight: 100;
}
/**************************************/

/**********************FOOTER************/
footer {
  display: flex;
  margin-top: 50px;
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #5f6f1f;
}
/****************************************/

/**********************EMPLOYEE LIST************/
.container-employe-list {
  max-width: 1300px;
  margin: auto;
}
.title-employe-list {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
}
/************************************************/

/************************ADD EMPLOYEE************/
.container-create-employe {
  margin-top: 3em;
}
/************************************************/

.title-modal {
  color: #5f6f1f;
  font-weight: 600;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 99;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.button-close-modal {
  background: transparent;
  border: none;
}
.close-modal {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background-color: #5f6f1f;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
